cars_info/
graph_images/
graph_info/
graphviz/
sumo/
test_results.txt
graph.info
pythonNe*/
pythonNeural/
pythonNetworkServer/
plots/
xprmnts/
data/m*
test_graphs/
augmented_data/
exper_*
data_distributions/
results_*/